// PALAUTELOMAKE-SOVELLUKSEN PUHELIMIEN MUOKKAUSSIVU

doctype html
head
    title='Palvelinohjelmointi - Osio 6 - Kommentoi tikettiä'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='../styles.css') 
body.container

    div(id='menu')
        // Logo liitetty navigaatioon
        img(src='../static/images/lappari.jpg')
        p='Ylläpito'
        div(class='menuitem')
            p
            a(href='/') Tiketit
        div(class='menuitem')
            p
            a(href='/tiedotteet') Tiedotteet
        div(class='menuitem')
            p
            a(href='/yhteystiedot') Yhteystiedot

    h3='Kommentoi'
    p='Kommentoi viestiä'
    form#form(action='/kommentoi/'+feedbackId, method='POST')
        div.form-group

        div(id='tiketti')
            p
                b= 'Nimi'
            p=name

            p
                b='Sähköposti'
            p=email

            p
                b='Aihe'
            p=title

            p
                b='Viesti'
            p=message 

            p
                b='Työn tilanne'
            p=status

            p
                b='Käsittelijä'
            p=staff

            p
                b='Viimeksi päivitetty'
            p=date_added
            //input.form-control(type='number', name='price' value=price)
            //button.btn-btn-primary(type='submit') Tallenna
    
    form#form(action='/kommentoi/'+feedbackId, method='POST')
        div.form-group
        div(id='tiketti')
            label
                b='Kommentoi työn etenemistä mahdollisimman kuvaavasti. Laita uusin kommentti alimmaksi. Vaihda lopuksi työn vaihe (status).'
            textarea.form-control(name="comment", cols="30", rows="10" required)
                =comment
            br
            p
                b='Työn tila tällä hetkellä'
            label.radio-inline
                input(type='radio', class='radioSpans', id='option1', value='Odottaa työmääräystä', name='status' required)
                span  Odottaa työmääräystä
            br
            label.radio-inline
                input(type='radio', class='radioSpans', id='option2', value='Työn alla', name='status')
                span  Työn alla
            br
            label.radio-inline
                input(type='radio', class='radioSpans', id='option3', value='Valmis', name='status')
                span  Valmis
            p
            b Valitse käsittelijä
            br
            label.radio-inline
                input(type='radio', class='radioSpans', id='option1', value='Jarkko', name='staff' required)
                span  Jarkko
            br
            label.radio-inline
                input(type='radio', class='radioSpans', id='option2', value='Hanna', name='staff')
                span  Hanna
            br
            label.radio-inline
                input(type='radio', class='radioSpans', id='option3', value='Jussi', name='staff')
                span  Jussi
            br
  
            
         
            
            br
            button.btn-btn-primary(type='submit') Tallenna
            br
            a(href='/palautteet') Palaa takaisin tallentamatta